//font
$mainFont: "Open Sans", sans-serif;

//color

$blueColor: #1a56a3;
$white: #fff;
$lightBlue: #2870db;
$btnText: #fbfcfc;
$mainColor: #263238;
$secondaryColor: #546e7a;
$h1Color: #1c2056;

//sizes
$default: "max-width:1920px";

$tablets: "max-width:768px";

$telephone: "max-width:320px";
