.head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.head__logo {
  padding: 85px 0 0 257px;
}
@media (max-width: 1280px) {
  .head__logo {
    padding: 85px 0 0 100px;
  }
}
.head .hamburger-menu #menu__toggle {
  display: none;
}
.head .hamburger-menu .menu__btn {
  display: none;
}
@media (max-width: 768px) {
  .head .hamburger-menu #menu__toggle {
    display: block;
    opacity: 0;
  }
  .head .hamburger-menu .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 88px;
    right: 10%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .head .hamburger-menu .menu__btn > span,
.head .hamburger-menu .menu__btn > span::before,
.head .hamburger-menu .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .head .hamburger-menu .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .head .hamburger-menu .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .head .hamburger-menu .head__nav-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  .head .hamburger-menu .head__nav-bar li {
    padding-bottom: 15px;
  }
  .head .hamburger-menu .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .head .hamburger-menu .menu__item:hover {
    background-color: #cfd8dc;
  }
  .head .hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  .head .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  .head .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .head .hamburger-menu #menu__toggle:checked ~ .head__nav-bar {
    visibility: visible;
    left: 0;
  }
}
.head__nav-bar {
  padding: 85px 260px 0 0;
}
@media (max-width: 1280px) {
  .head__nav-bar {
    padding: 85px 30px 0 0px;
  }
}
.head__nav-bar li {
  list-style: none;
  display: inline;
}
.head__nav-bar a {
  color: black;
  font-size: 19px;
  padding: 0px 65px 0 0;
  text-decoration: none;
}
@media (max-width: 1280px) {
  .head__nav-bar a {
    padding: 0px 15px 0 20px;
  }
}
.head__nav-bar #login-btn {
  height: 36px;
  width: 120px;
  border: 1px solid black;
  border-radius: 12.5px;
  background-color: #fff;
}
.head__title {
  padding: 152px 0 0 377px;
  width: 781px;
}
@media (max-width: 1280px) {
  .head__title {
    width: 500px;
    margin-right: 100px;
    padding: 152px 0 0 180px;
  }
}
.head__title .h1 {
  font-size: 50px;
  font-weight: bold;
  color: #1c2056;
}
.head__title .p1 {
  margin-top: 59px;
  line-height: 2.2;
  font-size: 18px;
  color: #546e7a;
}
.head__title .btn {
  margin-top: 113px;
  height: 80px;
  width: 240px;
  border: 0;
  border-radius: 40px;
  box-shadow: 0px 22px 23.5px 0.5px rgba(17, 83, 165, 0.21);
  background-color: #2870db;
  font-weight: 600;
  font-size: 20px;
  color: #fbfcfc;
}

html {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1920px;
  margin: auto;
}

.ui__title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.h1 {
  font-size: 50px;
  font-weight: bold;
  color: #1c2056;
}

.h2 {
  font-size: 36px;
  font-weight: bold;
  color: #263238;
}

.h3 {
  font-size: 24px;
  font-weight: bold;
  color: #263238;
}

.p1 {
  font-size: 18px;
  color: #546e7a;
}

.btn {
  height: 80px;
  width: 240px;
  border: 0;
  border-radius: 40px;
  box-shadow: 0px 22px 23.5px 0.5px rgba(17, 83, 165, 0.21);
  background-color: #2870db;
  font-weight: 600;
  font-size: 20px;
  color: #fbfcfc;
}

.advocate-card {
  width: 100%;
  box-shadow: 0px 27px 43px 0 rgba(32, 94, 171, 0.1);
  border-radius: 20px;
  background-color: #fff;
  padding: 75px 98px 78px 72px;
}
.advocate-card__title {
  font-size: 24px;
  font-weight: bold;
  color: #263238;
  margin-bottom: 30px;
}
.advocate-card__description {
  font-size: 18px;
  color: #546e7a;
}

.members-count {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: start;
}
.members-count__text {
  font-size: 22px;
  color: #263238;
  text-align: center;
}
.members-count__mid {
  text-align: center;
  font-size: 36.5px;
  font-weight: bold;
  color: #1a56a3;
}

.news-card {
  width: 355px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  box-shadow: 0px 27px 43px 0 rgba(32, 94, 171, 0.1);
  background-color: #fff;
}
.news-card__photo {
  height: 225px;
}
.news-card__photo img {
  border-radius: 15px 15px 0 0;
  height: 225px;
}
.news-card__title {
  font-size: 24px;
  font-weight: bold;
  color: #263238;
  color: #263238;
  margin: 15px 35px 15px 32px;
}
.news-card__description {
  font-size: 18px;
  color: #546e7a;
  width: 275px;
  line-height: 1.2;
  margin: 0 35px 15px 32px;
}
.news-card__link {
  color: #2870db;
  margin: 0 35px 43px 32px;
}

.benefits__title .h2 {
  margin: 25% 30% 0 33%;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #263238;
}
@media (max-width: 1280px) {
  .benefits__title .h2 {
    width: 500px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .benefits__title .h2 {
    width: 550px;
    margin: 25% 10% 0 15%;
  }
}
.benefits__cards {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}
.benefits__cards .card {
  width: 550px;
  box-shadow: 0px 27px 43px 0 rgba(32, 94, 171, 0.1);
  border-radius: 20px;
  background-color: #fff;
  padding: 75px 98px 78px 72px;
}
.benefits__cards .card__title {
  font-size: 24px;
  font-weight: bold;
  color: #263238;
  margin-bottom: 30px;
}
.benefits__cards .card__description {
  font-size: 18px;
  color: #546e7a;
}
.benefits__cards .advocate-card__img {
  display: block;
  position: relative;
  margin-left: 15%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1850px;
  margin: 0 auto;
  padding: 0;
}/*# sourceMappingURL=index.css.map */